# Example of a reusable workflow with a passed argument, and a passed secret (token)
name: Resuable Workflow 2 (Get team members)

on:
  
#   workflow_dispatch:
#     inputs:
#       team_name:
#         description: "team name"
#         required: false
#         type: string
#         default: "no team specified"
  
  # Must have workflow_call in order for workflow to be reusable
    workflow_call:
        # secrets get inherited from the caller workflow.
        # For example, the bash-git-script repo has a caller workflow that calls this reusable workflow (caller workflow is ex-caller-workflow-2.yml) 
        # That repo has a token with relevant permissions--there's no such token on this repo (reusable-workflow-github-actions) at the moment.
        # The only way that this workflow can work is with a token due to the particular API call involved. And calling this works--so we know that the token has to be from somewhere  
        secrets: 
            # Use a token that has org: read permissions
            teams_read_token: 
                required: true
        inputs:
            team_name:
                type: string
                default: "no team specified"

    

# Use single quotes to get color to work
env:
  GH_TOKEN: ${{ secrets.teams_read_token }}
        
jobs:
  print-team-members:
    name: Print team member
    runs-on: ubuntu-latest
    
    steps:
  
      - name: Print the team members
        run: | 
            if [[ "${{ inputs.team_name }}" == "no team specified" ]]
            then
                echo "No team name provided, so doing nothing."
            else
                echo "Printing the members of '${{ inputs.team_name }}'."
                
                # Example of how to use cURL (vs Github CLI call after this commented block)
                # curl -L \
                #     -H "Accept: application/vnd.github+json" \
                #     -H "Authorization: Bearer ${{ secrets.teams_read_token }}" \
                #     -H "X-GitHub-Api-Version: 2022-11-28" \
                #     https://api.github.com/orgs/org-mushroom-kingdom/teams/${{ inputs.team_name }}/members | jq -r '.[].login' | mapfile -t team_members
                
                mapfile -t team_members < <(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -H "Authorization: Bearer $GH_TOKEN"  /orgs/org-mushroom-kingdom/teams/${{ inputs.team_name }}/members | jq -r '.[].login')
                echo "Printing the members of the team '${{ inputs.team_name }}':"
                for member in "${team_members[@]}"
                do
                    echo "- $member"
                done
            fi